In [5]:
from functions.video_funcs_1 import generate_weather_animation, read_station_data, load_weather_and_image_data
from pathlib import Path

BASE_DIR = "C:/Users/Frank/Documents/python/weather_webcam_sonification/"
print('Base directory is:', BASE_DIR)
WEATHER_DATA_DIR = BASE_DIR + "weatherdata/"

# Define input weather data files
WEATHER_FILE_TEMP = WEATHER_DATA_DIR + "produkt_zehn_min_tu_20230828_20250227_07431.txt"
WEATHER_FILE_WIND = WEATHER_DATA_DIR + "produkt_zehn_min_ff_20230831_20250302_07341.txt"
WEATHER_FILE_PRECIP = WEATHER_DATA_DIR + "produkt_zehn_min_rr_20230831_20250302_07341.txt"

# Read the data
print("Loading weather data...")
df_temp = read_station_data(str(WEATHER_FILE_TEMP))
df_wind = read_station_data(str(WEATHER_FILE_WIND))
df_precip = read_station_data(str(WEATHER_FILE_PRECIP))

Base directory is: C:/Users/Frank/Documents/python/weather_webcam_sonification/
Loading weather data...
Reading data from C:/Users/Frank/Documents/python/weather_webcam_sonification/weatherdata/produkt_zehn_min_tu_20230828_20250227_07431.txt...

c:\Users\Frank\Documents\python\weather_webcam_sonification\functions\video_funcs_1.py:144: UserWarning: Parsing dates in %Y%m%d%H%M format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df = pd.read_csv(file_path, sep=';', parse_dates=['MESS_DATUM'], dayfirst=True)
c:\Users\Frank\Documents\python\weather_webcam_sonification\functions\video_funcs_1.py:144: UserWarning: Parsing dates in %Y%m%d%H%M format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df = pd.read_csv(file_path, sep=';', parse_dates=['MESS_DATUM'], dayfirst=True)

Data successfully loaded. Shape: (79200, 9)
Reading data from C:/Users/Frank/Documents/python/weather_webcam_sonification/weatherdata/produkt_zehn_min_ff_20230831_20250302_07341.txt...
Data successfully loaded. Shape: (79200, 6)
Reading data from C:/Users/Frank/Documents/python/weather_webcam_sonification/weatherdata/produkt_zehn_min_rr_20230831_20250302_07341.txt...
Data successfully loaded. Shape: (79200, 7)

c:\Users\Frank\Documents\python\weather_webcam_sonification\functions\video_funcs_1.py:144: UserWarning: Parsing dates in %Y%m%d%H%M format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df = pd.read_csv(file_path, sep=';', parse_dates=['MESS_DATUM'], dayfirst=True)

In [6]:
df_temp

,STATIONS_ID,MESS_DATUM,QN,PP_10,TT_10,TM5_10,RF_10,TD_10,eor
0,7431,2023-08-28 00:00:00,3,-999,13.4,13.4,96.7,12.9,eor
1,7431,2023-08-28 00:10:00,3,-999,13.4,13.4,96.3,12.8,eor
2,7431,2023-08-28 00:20:00,3,-999,13.4,13.4,96.5,12.9,eor
3,7431,2023-08-28 00:30:00,3,-999,13.4,13.4,96.6,12.9,eor
4,7431,2023-08-28 00:40:00,3,-999,13.4,13.4,97.1,13.0,eor
...,...,...,...,...,...,...,...,...,...
79195,7431,2025-02-27 23:10:00,2,-999,1.0,-1.2,87.1,-0.9,eor
79196,7431,2025-02-27 23:20:00,2,-999,1.2,-1.0,86.4,-0.8,eor
79197,7431,2025-02-27 23:30:00,2,-999,1.0,-1.1,87.6,-0.8,eor
79198,7431,2025-02-27 23:40:00,2,-999,0.3,-1.3,92.3,-0.8,eor
79199,7431,2025-02-27 23:50:00,2,-999,1.2,-0.2,87.5,-0.6,eor

In [7]:
df_wind

       STATIONS_ID          MESS_DATUM    QN  FF_10  DD_10  eor
0             7341 2023-08-31 00:00:00     3    1.3    230  eor
1             7341 2023-08-31 00:10:00     3    0.7    210  eor
2             7341 2023-08-31 00:20:00     3    0.8    220  eor
3             7341 2023-08-31 00:30:00     3    0.9    250  eor
4             7341 2023-08-31 00:40:00     3    0.9    250  eor
...            ...                 ...   ...    ...    ...  ...
79195         7341 2025-03-02 23:10:00     2    0.7    360  eor
79196         7341 2025-03-02 23:20:00     2    0.7     60  eor
79197         7341 2025-03-02 23:30:00     2    0.7    170  eor
79198         7341 2025-03-02 23:40:00     2    0.7    150  eor
79199         7341 2025-03-02 23:50:00     2    0.7    130  eor

[79200 rows x 6 columns]

In [8]:
df_precip

,STATIONS_ID,MESS_DATUM,QN,RWS_DAU_10,RWS_10,RWS_IND_10,eor
0,7341,2023-08-31 00:00:00,3,0,0.0,0,eor
1,7341,2023-08-31 00:10:00,3,0,0.0,0,eor
2,7341,2023-08-31 00:20:00,3,0,0.0,0,eor
3,7341,2023-08-31 00:30:00,3,0,0.0,0,eor
4,7341,2023-08-31 00:40:00,3,0,0.0,0,eor
...,...,...,...,...,...,...,...
79195,7341,2025-03-02 23:10:00,2,0,0.0,0,eor
79196,7341,2025-03-02 23:20:00,2,0,0.0,0,eor
79197,7341,2025-03-02 23:30:00,2,0,0.0,0,eor
79198,7341,2025-03-02 23:40:00,2,0,0.0,0,eor
79199,7341,2025-03-02 23:50:00,2,0,0.0,0,eor

In [14]:
# Ensure 'MESS_DATUM' exists and merge only common datetimes
if 'MESS_DATUM' in df_temp.columns and 'MESS_DATUM' in df_wind.columns and 'MESS_DATUM' in df_precip.columns:
    # Find common 'MESS_DATUM' values across all dataframes
    common_dates = set(df_temp['MESS_DATUM']) & set(df_wind['MESS_DATUM']) & set(df_precip['MESS_DATUM'])
    
    # Filter each dataframe to keep only the common dates
    df_temp_filtered = df_temp[df_temp['MESS_DATUM'].isin(common_dates)]
    df_wind_filtered = df_wind[df_wind['MESS_DATUM'].isin(common_dates)]
    df_precip_filtered = df_precip[df_precip['MESS_DATUM'].isin(common_dates)]
    
    # Merge dataframes on 'MESS_DATUM' (inner join ensures only common dates remain)
    df_merged = df_temp_filtered.merge(df_wind_filtered, on='MESS_DATUM', how='inner').merge(df_precip_filtered, on='MESS_DATUM', how='inner')
    
    # Determine the first and last timestamp for the filename and format them
    start_time = df_merged['MESS_DATUM'].min().strftime('%Y%m%d_%H%M')
    end_time = df_merged['MESS_DATUM'].max().strftime('%Y%m%d_%H%M')
    merged_file_path = WEATHER_DATA_DIR + f"merged_weather_data_{start_time}_{end_time}.txt"
    
    df_merged.to_csv(merged_file_path, sep=';', index=False)
    print(f"Merged weather data saved at: {merged_file_path}")
else:
    print("Error: 'MESS_DATUM' column not found in one or more dataframes.")

Merged weather data saved at: C:/Users/Frank/Documents/python/weather_webcam_sonification/weatherdata/merged_weather_data_20230831_0000_20250227_2350.txt

In [15]:
df_merged

,STATIONS_ID_x,MESS_DATUM,QN_x,PP_10,TT_10,TM5_10,RF_10,TD_10,eor_x,STATIONS_ID_y,QN_y,FF_10,DD_10,eor_y,STATIONS_ID,QN,RWS_DAU_10,RWS_10,RWS_IND_10,eor
0,7431,2023-08-31 00:00:00,3,-999,11.2,9.5,91.7,9.9,eor,7341,3,1.3,230,eor,7341,3,0,0.0,0,eor
1,7431,2023-08-31 00:10:00,3,-999,11.2,8.9,90.9,9.8,eor,7341,3,0.7,210,eor,7341,3,0,0.0,0,eor
2,7431,2023-08-31 00:20:00,3,-999,10.9,7.7,91.5,9.6,eor,7341,3,0.8,220,eor,7341,3,0,0.0,0,eor
3,7431,2023-08-31 00:30:00,3,-999,10.4,7.2,94.3,9.5,eor,7341,3,0.9,250,eor,7341,3,0,0.0,0,eor
4,7431,2023-08-31 00:40:00,3,-999,10.0,6.8,94.3,9.1,eor,7341,3,0.9,250,eor,7341,3,0,0.0,0,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78763,7431,2025-02-27 23:10:00,2,-999,1.0,-1.2,87.1,-0.9,eor,7341,2,1.5,210,eor,7341,2,0,0.0,0,eor
78764,7431,2025-02-27 23:20:00,2,-999,1.2,-1.0,86.4,-0.8,eor,7341,2,1.5,210,eor,7341,2,0,0.0,0,eor
78765,7431,2025-02-27 23:30:00,2,-999,1.0,-1.1,87.6,-0.8,eor,7341,2,2.2,220,eor,7341,2,0,0.0,0,eor
78766,7431,2025-02-27 23:40:00,2,-999,0.3,-1.3,92.3,-0.8,eor,7341,2,2.1,220,eor,7341,2,0,0.0,0,eor
78767,7431,2025-02-27 23:50:00,2,-999,1.2,-0.2,87.5,-0.6,eor,7341,2,2.1,220,eor,7341,2,0,0.0,0,eor